In [19]:
import pandas as pd
from sklearn.utils import shuffle

In [20]:
kaggle_dataset = 'BBC.csv'
kaggle_data = pd.read_csv(kaggle_dataset)
kaggle_data.head()

,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr10,...,attr165,attr166,attr167,attr168,attr169,attr170,attr171,attr172,attr173,Label
0,96,1.011917,0.318573,3.489712,1.175837,0.015925,0.012777,0.163997,0.075237,3809.642090,...,NaN,0.008242,NaN,0.079670,0.098901,0.068681,NaN,0.139171,0.704639,-1
1,132,1.315531,1.331791,5.800880,4.044379,0.015502,0.013197,0.131203,0.068008,3841.620605,...,NaN,0.033465,0.039370,0.027559,0.025591,0.027559,NaN,0.222888,0.616040,-1
2,103,3.959621,2.151878,13.200766,4.791326,0.016525,0.012311,0.112045,0.053243,3825.232422,...,NaN,0.015306,0.022959,0.025510,0.002551,0.028061,NaN,0.905127,0.960916,-1
3,81,0.359720,0.320436,3.830575,2.058378,0.018266,0.014093,0.107716,0.049998,3779.662842,...,NaN,0.006579,0.013158,0.039474,0.003289,0.052632,NaN,0.763676,0.150757,-1
4,26,12.918015,6.850053,33.438026,19.208086,0.014145,0.013110,0.137740,0.085124,3374.866943,...,NaN,NaN,0.011905,NaN,NaN,NaN,0.011905,0.803929,0.561031,-1

In [21]:
kaggle_data.insert(0, 'id', range(len(kaggle_data)))
kaggle_data.head()

,id,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr165,attr166,attr167,attr168,attr169,attr170,attr171,attr172,attr173,Label
0,0,96,1.011917,0.318573,3.489712,1.175837,0.015925,0.012777,0.163997,0.075237,...,NaN,0.008242,NaN,0.079670,0.098901,0.068681,NaN,0.139171,0.704639,-1
1,1,132,1.315531,1.331791,5.800880,4.044379,0.015502,0.013197,0.131203,0.068008,...,NaN,0.033465,0.039370,0.027559,0.025591,0.027559,NaN,0.222888,0.616040,-1
2,2,103,3.959621,2.151878,13.200766,4.791326,0.016525,0.012311,0.112045,0.053243,...,NaN,0.015306,0.022959,0.025510,0.002551,0.028061,NaN,0.905127,0.960916,-1
3,3,81,0.359720,0.320436,3.830575,2.058378,0.018266,0.014093,0.107716,0.049998,...,NaN,0.006579,0.013158,0.039474,0.003289,0.052632,NaN,0.763676,0.150757,-1
4,4,26,12.918015,6.850053,33.438026,19.208086,0.014145,0.013110,0.137740,0.085124,...,NaN,NaN,0.011905,NaN,NaN,NaN,0.011905,0.803929,0.561031,-1

In [22]:
kaggle_data = shuffle(kaggle_data)
kaggle_data.head()

,id,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr165,attr166,attr167,attr168,attr169,attr170,attr171,attr172,attr173,Label
13865,13865,36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.168389,0.007301,-1
9879,9879,122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002775,0.009117,-1
6316,6316,140,1.198788,1.831593,5.969407,6.562496,0.019835,0.009825,0.108705,0.052858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800841,0.938774,1
14148,14148,94,1.190110,1.557796,7.181641,11.534143,0.019834,0.011318,0.073437,0.043333,...,NaN,NaN,0.022472,NaN,NaN,NaN,NaN,0.090160,0.537655,-1
306,306,1153,0.968952,0.535643,3.603067,1.417575,0.013438,0.012346,0.150144,0.059805,...,0.001089,0.078179,0.069686,0.049216,0.066855,0.045949,0.002613,0.703623,0.780874,-1

In [23]:
size = len(kaggle_data)
kaggle_data_train = kaggle_data.iloc[:int(0.8 * size)]
kaggle_data_test = kaggle_data.iloc[int(0.8 * size):]

In [24]:
kaggle_data_train.head()

,id,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr165,attr166,attr167,attr168,attr169,attr170,attr171,attr172,attr173,Label
13865,13865,36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.168389,0.007301,-1
9879,9879,122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002775,0.009117,-1
6316,6316,140,1.198788,1.831593,5.969407,6.562496,0.019835,0.009825,0.108705,0.052858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800841,0.938774,1
14148,14148,94,1.190110,1.557796,7.181641,11.534143,0.019834,0.011318,0.073437,0.043333,...,NaN,NaN,0.022472,NaN,NaN,NaN,NaN,0.090160,0.537655,-1
306,306,1153,0.968952,0.535643,3.603067,1.417575,0.013438,0.012346,0.150144,0.059805,...,0.001089,0.078179,0.069686,0.049216,0.066855,0.045949,0.002613,0.703623,0.780874,-1

In [25]:
kaggle_data_test.head()

,id,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr165,attr166,attr167,attr168,attr169,attr170,attr171,attr172,attr173,Label
8788,8788,56,6.571370,3.146919,18.340403,6.987092,0.013519,0.016358,0.107645,0.065009,...,NaN,0.127451,0.068627,NaN,NaN,0.009804,0.004902,0.027978,0.683352,-1
1954,1954,67,0.158038,0.194039,2.172418,3.893750,0.014228,0.008038,0.170709,0.106196,...,NaN,0.008065,0.044355,0.008065,NaN,0.004032,NaN,0.617905,0.139237,1
1666,1666,31,4.755085,2.455922,12.760598,10.664906,0.016840,0.008374,0.085383,0.047664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.064827,0.804381,1
9505,9505,47,2.796701,2.524549,10.091995,3.257103,0.012861,0.014417,0.072008,0.063389,...,NaN,0.196429,0.184524,NaN,NaN,NaN,NaN,0.341947,0.650685,-1
10994,10994,241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.531864,0.747825,-1

In [26]:
kaggle_data_train.to_csv('kaggle_data/train.csv', index=False)
kaggle_data_test.to_csv('kaggle_data/test.csv', index=False)

In [27]:
train_dataset = 'kaggle_data/train.csv'
data = pd.read_csv(train_dataset)

In [32]:
size = 14000
data = data.iloc[:size]

In [33]:
data = shuffle(data)
data.head()

,id,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr165,attr166,attr167,attr168,attr169,attr170,attr171,attr172,attr173,Label
875,6639,151,0.284331,0.062567,2.001377,0.348517,0.012419,0.013295,0.135451,0.058357,...,NaN,0.003425,0.015411,0.005137,0.001712,0.070205,0.005137,0.849365,0.891377,-1
1681,2624,28,6.583797,2.953666,13.436319,5.848633,0.018529,0.013149,0.168527,0.082299,...,NaN,NaN,0.021739,0.032609,0.086957,NaN,NaN,0.648626,0.027812,1
2285,4395,138,1.269772,0.786734,5.351592,2.521697,0.015514,0.012679,0.145584,0.068037,...,NaN,0.043233,0.024436,0.003759,NaN,NaN,NaN,0.739636,0.960691,-1
2857,7193,309,0.665304,0.232358,2.669271,0.799983,0.020024,0.012345,0.117122,0.049061,...,NaN,0.011513,0.009868,0.011513,0.018092,0.032895,NaN,0.267275,0.670812,-1
11433,4798,195,2.543015,0.744063,8.109252,2.257343,0.013544,0.011721,0.101250,0.056270,...,NaN,0.150000,0.139474,NaN,NaN,0.001316,NaN,0.968768,0.488668,-1

In [34]:
data_train = data.iloc[:int(0.7 * size)]
data_test = data.iloc[int(0.7 * size):]
TARGET = 'Label'
data_sample_submission = data_test[['id', TARGET]].copy()
data_sample_submission[TARGET] = data_test['Label']

In [35]:
data_train.to_csv('data/train.csv', index=False)
data_test.to_csv('data/test.csv', index=False)
data_sample_submission.to_csv('data/sample_submission.csv', index=False)